.centered {
    text-align: center;
}

body {
    height: 100vh;
    background-color: #aed581;
}

.main-container {
    border-radius: 5px;
    background-color: #e1ffb1;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
}

.title {
    font-size: 3em;
    letter-spacing: 3px;
}

.title::after {
    content: " ";
    border: 1.5px solid #aed581;
    display: block;
    margin: 0 auto;
    margin-top: 0.5vh;
    width: 7vw;
}

.input-section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}